In [1]:
import numpy as np
import pandas as pd
import re

In [9]:
FilePathOrigin = '/Volumes/OutSSD/DATA/NLP/EnglishWords/'
file = FilePathOrigin + 'words.txt'
the_word = ''

In [3]:
def reading_file():
    f = open(file)
    words = f.read()
    words = re.sub('\n',' ', words).lower()
    words = re.findall(r'\b[a-z]{5}\b', words)
    return pd.DataFrame(words, columns=['word']).drop_duplicates()

In [4]:
def counting_letters(words):

    abcd = 'abcdefghijklmnopqrstuvwxyz'
    count = {}
    for position in [1,2,3,4,5]:
        count[position] = {}
        for letter in abcd:
            count[position][letter] = 0

    for word in words.word:
        for order, letter in enumerate(word, start=1):
            count[order][letter] += 1
            
    return pd.DataFrame(count)

In [5]:
def cleaning_data(words, word, results):
    
    for p, (l, r) in enumerate(zip(word,results), start=0):
        if r == '0':
            words = words.loc[[x for x in words.word if l not in x ]]
        if r == '1':
            words = words.loc[[x for x in words.word if l != x[p]]]
            words = words.loc[[x for x in words.word if l in x]]
        if r == '2':
            words = words.loc[[x for x in words.word if l == x[p]]]
            
    return words

In [6]:
def processing_words(words, word_used, results, top):
    words = cleaning_data(words, word_used, results)
    count = counting_letters(words)
    words['diff'] = words.word.apply(lambda x: len(set(x)))
    words['value'] = words.word.apply(lambda x: sum(np.diag(count.loc[list(x)])))
    words = words.sort_values(by=['diff', 'value'], ascending=False)
    words.index = words.word
    print(len(words))
    print(words.head(top))
    return words

In [7]:
def score(the_word, test):
    return ''.join([(str((test[x] == the_word[x]) * 2 or 1 * (test[x] in the_word))) for x in range(5)])

In [10]:
### Initial process for initial 10 top words.
words = reading_file()
words = processing_words(words, '','', 10)

22491
        word  diff  value
word
bares  bares     5  15122
cares  cares     5  15108
tares  tares     5  14850
mares  mares     5  14798
pares  pares     5  14774
dares  dares     5  14697
banes  banes     5  14655
canes  canes     5  14641
lares  lares     5  14611
bales  bales     5  14515

In [11]:
### After first word results:
words = processing_words(words, 'short','00002', 10)

390
        word  diff  value
word
manet  manet     5    620
galet  galet     5    617
palet  palet     5    615
malet  malet     5    612
janet  janet     5    610
binet  binet     5    610
aliet  aliet     5    606
valet  valet     5    604
jalet  jalet     5    602
danit  danit     5    602

In [12]:
words.head(255)

        word  diff  value
word
manet  manet     5    620
galet  galet     5    617
palet  palet     5    615
malet  malet     5    612
janet  janet     5    610
...      ...   ...    ...
banat  banat     4    596
bewet  bewet     4    592
gleet  gleet     4    591
fleet  fleet     4    591
defet  defet     4    590

[255 rows x 3 columns]

In [13]:
### After second word results:
words = processing_words(words, 'adieu','10001', 10)

27
        word  diff  value
word
gaunt  gaunt     5     65
galut  galut     5     63
gamut  gamut     5     63
vaunt  vaunt     5     62
balut  balut     5     61
jaunt  jaunt     5     61
gault  gault     5     61
caput  caput     5     60
yakut  yakut     5     60
lamut  lamut     5     59

In [14]:
### After third word results:
words = processing_words(words, 'gault','02202', 10)

4
        word  diff  value
word
vaunt  vaunt     5     17
jaunt  jaunt     5     17
taunt  taunt     4     17
naunt  naunt     4     17

In [15]:
### After third word results:
words = processing_words(words, 'false','02122', 10)

3
        word  diff  value
word
laise  laise     5     13
lapse  lapse     5     13
lasse  lasse     4     13

In [50]:
### Initial process for initial 10 top words.
words = reading_file()
words = processing_words(words, '','', 10)

22491
        word  diff  value
word
bares  bares     5  15122
cares  cares     5  15108
tares  tares     5  14850
mares  mares     5  14798
pares  pares     5  14774
dares  dares     5  14697
banes  banes     5  14655
canes  canes     5  14641
lares  lares     5  14611
bales  bales     5  14515

In [51]:
### After first word results:
words = processing_words(words, 'bares','01000', 10)

1715
        word  diff  value
word
conia  conia     5   1441
tolna  tolna     5   1401
tonia  tonia     5   1387
coila  coila     5   1382
konia  konia     5   1381
doina  doina     5   1380
donia  donia     5   1377
dolia  dolia     5   1365
moina  moina     5   1361
monia  monia     5   1358

In [52]:
### After first word results:
words = processing_words(words, 'conia','01001', 10)

75
        word  diff  value
word
alout  alout     5    119
aloft  aloft     5    117
alogy  alogy     5    116
alody  alody     5    114
aloud  aloud     5    114
aholt  aholt     5    103
altho  altho     5    100
ahold  ahold     5     98
adopt  adopt     5     98
atomy  atomy     5     97